.card {
  background-color: var(--color-surface);
  padding: var(--space-md);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  gap: var(--space-sm);
  width: 100%;
  height: 100%;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-text-secondary);
}

.chartContainer {
  width: 180px;
  height: 180px;
}
